.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.signup-form-container {
  border: 1px solid #e5e4e7;
  padding: 20px 10px;
}

.signup-form-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.signup-img {
  width: 100%;
  height: 100%;
}

.signup-title1 {
  color: var(--primary-color);
  font-weight: 900;
  font-size: xx-large;
  margin: 10px;
}

.signup-title1 span {
  color: var(--secondary-color);
}

.signup-title2 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
}

.signup-title2 span {
  color: var(--secondary-color);
}

.signup-password,
.signup-confirm-password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }

  .signup-img {
    width: 60%;
    height: 60%;
  }

  .signup-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }

  .signup-form {
    width: 60%;
    height: 60%;
  }
}
